@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(18, 58, 90);
}

* {
  box-sizing: border-box;
  outline: 0;
}

.body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 2.5em;
}

h1 {
  text-align: center;
  
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.relogio {
  font-size: 4rem;
}

.pausado {
  color:rgb(139, 0, 42);
}







